
            body{
                margin: 0;
                padding: 0;
                background: #718993;
                font-family: '冬青黑体','Hiragino Sans GB','Helvetica','Arial';
            }
            h5{
                margin-top: 0;
                margin-bottom: 15px;
                color: #bbb;
                font-size: 14px;
            }
            .container{
                height: 660px;
                margin: 10px auto;
                background: white;
                position: relative;
            }
            .logo{
                padding: 15px 0 0 20px;
                margin-bottom: 25px;
            }
            #sidebar{
                width: 300px;
                float: left;
                height: 660px;
            }
            #chart {
                right: 0;
                margin: 5px 20px 45px 300px;
                height: 570px;
                top: 15px;
            }
            .select{
                display: inline-block;
                padding: 0 10px 0 20px;
            }
            .select>p{
                font-family: fantasy,Arial;
                color:#ccc;
                margin: 5px 0;
            }
            .select a{
                display: inline-block;
                opacity: 0.5;
                height: 58px;
                background-image: url(../images/icons.png);
                margin-right: 10px;
            }
            .select a#s-force{
                background-position: -73px 0;
                width: 31px;
            }
            .select a#s-force.active{
                background-position: -73px -58px;
                width: 31px;
            }
            .select a#s-circle{
                background-position: -104px 0;
                width: 32px;
            }
            .select a#s-circle.active{
                background-position: -104px -58px;
                width: 32px;
            }
            .select a#s-men{
                background-position: -31px 0;
                width: 42px;
            }
            .select a#s-men.active{
                background-position: -31px -58px;
                width: 42px;
            }
            .select a#s-women{
                background-position: 0 0;
                width: 31px;
            }
            .select a#s-women.active{
                background-position: 0 -58px;
                width: 31px;
            }
            .select a:hover{
                opacity: 1
            }
            .tooltip{
                position: absolute;
                opacity: 0.8;
                background-color: white;
                padding: 13px 22px 0 17px;
                border-radius: 5px;
                box-shadow: -3px 3px 10px 0 rgba(0, 0, 0, 0.5);
                width: 200px;
            }
            .tooltip>h1{
                font-size: 20px;
                font-family: Arial,'MicrosoftYahei';
                padding: 0;
                margin: 0;
                margin-bottom: 20px;
            }
            .tooltip>p{
                font-size: 12px;
            }
            .color-block{
                width: 17px;
                height: 8px;
                display: inline-block;
                margin-left: 5px;
            }
            .color-block.active{
                margin-left: 10px;
            }
            .c-name,.c-name-highlight{
                font-size: 12px;
                display: inline-block;
                margin-left: 5px;
                vertical-align: bottom;
            }
            .c-name-highlight{
                display: none;
            }
            #legend-container{
                position: absolute;
                bottom: 75px;
                left: 20px;
            }
            ul#legend{
                list-style: none;
                padding: 0;
                margin: 0;
            }
            ul#legend>li{
                height: 20px;
                cursor: pointer;
                opacity: 0.65;
                -webkit-transform: scale(0.83);
            }
            ul#legend>li:hover{
                opacity: 1
            }
            ul#legend>li:hover .color-block{
                width: 22px;
                margin-left: 0
            }
            ul#legend>li:hover .c-name{
                display: none;
            }
            ul#legend>li:hover .c-name-highlight{
                display: inline-block;
            }